version: "3"
services:
  collector:
    container_name: collector
    restart: always
    build:
      context: app-docker
    deploy:
      restart_policy:
        condition: on-failure
    command: python3 /usr/src/app/main.py
    volumes:
      - ./app-code:/usr/src/app
    environment:
      - TZ=Europe/Amsterdam
    networks:
      - webnet
  grafana:
    container_name: grafana-ui
    restart: always
    image: grafana/grafana
    deploy:
      restart_policy:
        condition: on-failure
    ports:
      - 3000:3000
    user: "0"
    environment:
      - TZ=Europe/Amsterdam
    volumes:
      - ./grafana/provisioning:/etc/grafana/provisioning
      - ./grafana/dashboards:/var/lib/grafana/dashboards
    networks:
      - webnet
  influxdb:
    container_name: influxdb-datasource
    restart: always
    image: influxdb
    deploy:
      restart_policy:
        condition: on-failure
    ports:
      - 8086:8086
    volumes:
      - ~/OneDrive\ -\ Cisco/01_Projects/DNA\ Center\ Telemetry/influxdb/:/root/.influxdbv2
    environment:
      - TZ=Europe/Amsterdam
    networks:
      - webnet
networks:
  webnet: